.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 10px;
}

.dialogsItems .active {
    color: gold;
}

.dialogItem a {
    border: 1px solid blue;
    /*border-radius: 50%;*/
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 5px 0;
    margin: 10px 0;
    cursor: pointer;
    color: green;
}

.avatar {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.messages {
    padding: 10px;
}